<a href="https://colab.research.google.com/github/jassu2017/Tdude-ML-2026/blob/main/python_program_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#List is a data type, which is ordered, mutable ,contains duplicates,conatins other data types as its element
name = "Hello"
print(name)

fruits = ["apple", "mangoe", "guava", "guava"]
print(fruits)
#retrieveing values from list using indexing
print("First fruit is:",fruits[0])
print("last fruit is:", fruits[-1])
print("adding items to fruit")
fruits.append("grapes")
fruits
fruits.remove("apple")
fruits

Hello
['apple', 'mangoe', 'guava', 'guava']
First fruit is: apple
last fruit is: guava
adding items to fruit

['mangoe', 'guava', 'guava', 'grapes']

In [16]:
#Tuple is a data type , which is ordered ,immutable, allow duplicate values and contains other datatypes as its elelment
my_tuple=("Hi",1,True,1.7)
my_tuple

#retrieveing values from tuple using indexing
print(my_tuple[-1])
print(my_tuple[1])

#unpacking in tuple : getting individual elements of the tuple, can read the tuple elents
numbers=(10,20,300,90)
a,b,c,d=numbers
print(a)
print(b)
print(c)
print(d)

#iterating
tup=(1,2,3)
for x in tup:
  print(x)

#combining two tuples : concatination
tup1=(1,2,3,4,5)
tup2=(100,300,45,90)
print(tup1 + tup2)

#deleting the tuple
tup=(3,4,5)
del(tup)
#tup

1.7
1
10
20
300
90
1
2
3
(1, 2, 3, 4, 5, 100, 300, 45, 90)

NameError: name 'tup' is not defined

In [9]:
#Dictionary is an unordered collection of key and value pair,

#createdictionary
my_dict={"name": "Jayshree", "age": 40, "marks": 100}
my_dict
print(my_dict["name"])
print(my_dict["age"])
print(my_dict["marks"])

#update dict

my_dict["grade"]="A"
my_dict

#update the existing key
my_dict["name"]="Kunal"
my_dict

#delete
del my_dict["marks"]
my_dict

#iteration

for key,value in my_dict.items():
  print(key,value)

Jayshree
40
100
name Kunal
age 40
grade A

In [18]:
#Sets: is a unordered mutable and unindexed order of unqiue items. No duplicates

#creation
my_set={1,2,3,4,5,6,6,6}
my_set

#addition
my_set.add(8)
my_set
my_set.add(4)
my_set

#delete

my_set.remove(4)
my_set

#set operations:
set1={1,2,3}
set2={3,4,5}

print("Union", set1|set2) #combining the two sets
print("Intersection", set1 & set2)
print("difference:", set1-set2)
print("difference:", set2-set1)

Union {1, 2, 3, 4, 5}
Intersection {3}
difference: {1, 2}
difference: {4, 5}